<div class="container my-5">
  <h1 class="mb-3">Add New Employee</h1>

  <div class="row">
    <div class="col-md-6">
      <form #form="ngForm" (ngSubmit)="addEmployee()">
        <div class="mb-3">
          <label for="firstName" class="form-label">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstname"
            placeholder="First Name"
            name="firstName"
            [(ngModel)]="addEmployeeRequest.firstName"
          />
        </div>

        <div class="mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input
            type="email"
            class="form-control"
            id="lastName"
            placeholder="Last Name"
            name="lastName"
            [(ngModel)]="addEmployeeRequest.lastName"
          />
        </div>
        <div class="mb-3">
          <label for="emailAddress" class="form-label">Email Address</label>
          <input
            type="email"
            class="form-control"
            id="emailAddress"
            placeholder="Email Address"
            name="email"
            [(ngModel)]="addEmployeeRequest.email"
          />
        </div>
        <div class="mb-3">
          <label for="phoneNumber" class="form-label">Phone Number</label>
          <input
            type="number"
            class="form-control"
            id="phoneNumber"
            placeholder="Phone Number"
            name="phoneNumber"
            [(ngModel)]="addEmployeeRequest.phoneNumber"
          />
        </div>

        <div class="mb-3">
          <label for="salary" class="form-label">Salary</label>
          <input
            type="number"
            class="form-control"
            id="salary"
            placeholder="salary"
            name="salary"
            [(ngModel)]="addEmployeeRequest.salary"
          />
        </div>
        <div class="mb-3">
          <label for="department" class="form-label">Department</label>
          <input
            type="text"
            class="form-control"
            id="department"
            placeholder="Department"
            name="department"
            [(ngModel)]="addEmployeeRequest.department"
          />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
